{% extends 'base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
<h2>Task List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Creation Date</th>
            <th>Due Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.date_issued }}</td>
                <td>{{ task.deadline }}</td>
                <td>
                    <a href="{% url 'assignments:submit_assignment' task.id %}" class="btn btn-success">Submit</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
